img{
  border: 0px;
}
.spritezoom-container{
  margin: 10px;
  text-decoration: none;
}

.spritezoom-view {
  border: 4px solid #ccc;  
  margin: -4px;
}
.spritezoom-zoom {
  border: 4px solid #ccc;
  margin: -4px;
}
.spritezoom-tint {
  background: #ccc;
}
.spritezoom-lens {
  border: 4px solid #ccc;
  margin: -4px;
}
.spritezoom-title{
  background: #888;
  color: white;
  padding: 3px;
  text-align: center;
}